/* Stylesheet for the explore page */
body
{
    background-color: black;
    animation-name: body;
    animation: body 5s linear 2s infinite alternate;
}
@keyframes body{
    0% {background-color: rgb(0, 0, 0);}
    15%{background-color: rgb(17, 1, 1);}
    25%  {background-color:rgb(43, 43, 39);}
    50%  {background-color:rgb(58, 58, 59);}
    75%  {background-color:rgb(66, 66, 66); }
    100% {background-color:rgb(102, 100, 100);}
}
.header
{
    background-color: none;
    color: white;
    position: relative;
    animation-name: header;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.1s ease-in;
}
/* @keyframes header {
    0%   {background-color:red; }
    15%   {background-color: rgb(70, 69, 69);}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green; }
    100% {background-color:red;}
  } */
  @keyframes header{
    0% {color: blue;
    transition: 0.2s ease-in;};
    15% {color: brown;};
    25% {color: cyan;};
    50% {color: blueviolet;};
    100% {color: floralwhite;};
  }

h1.title
{
    text-align: center;
    margin-top: -1.2%;
}

h1.title {  /* Taken from internet */
    font-weight: 900;
    font-size: 3.5em;
  }
  
h1.title .letter {
    display: inline-block;
    line-height: 1em;
  }


h2.subtitle
  {
      text-align: center;
      font-size: small;
      margin-top: -3%;
      margin-left: 18%;
  }
h2.subtitle {  /* Taken from internet */
    font-weight: 400;
    font-size: .9em;
  }
  
h2.subtitle .letter {
    display: inline-block;
    line-height: .9em;
  }



nav
{
    background-color: darkturquoise;
    text-shadow: black;
    box-shadow: black;
    color: white;
    position: relative;
    text-align: center;
    font-family: bungee, sans-serif;
    font-weight: 100;
   
	transition:0.3s all ease;
	margin-top:10px;
    margin-bottom:10px;
    font-size: medium;
}
nav:hover
{
    color: rgb(189, 15, 15);
    background-color: black;
    font-size: x-large;
}
nav a{
	text-decoration:none;
}
p.text1
{
  text-indent: 60px;
  color: black;
  text-shadow: 5px 2px 4px gray;
  font-size: larger;
  text-transform: capitalize;
  word-spacing: 8px;
 /*  word-wrap: break-word; */
p.second
{
  letter-spacing:5px;
}
.test
{
  background-color: white;
}