/* Stylesheet for the explore page */
body
{
    background-color: black;
    animation-name: body;
    animation: body 5s linear 2s infinite alternate;
}
/* @keyframes body{
    0% {background-color: rgb(0, 0, 0);}
    15%{background-color: rgb(17, 1, 1);}
    25%  {background-color:rgb(43, 43, 39);}
    50%  {background-color:rgb(58, 58, 59);}
    75%  {background-color:rgb(66, 66, 66); }
    100% {background-color:rgb(102, 100, 100);}
} */
.header
{
    background-color: none;
    color: white;
    position: relative;
    animation-name: header;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.1s ease-in;
}
/* @keyframes header {
    0%   {background-color:red; }
    15%   {background-color: rgb(70, 69, 69);}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green; }
    100% {background-color:red;}
  } */
  @keyframes header{
    0% {color: blue;
    transition: 0.2s ease-in;};
    15% {color: brown;};
    25% {color: cyan;};
    50% {color: blueviolet;};
    100% {color: floralwhite;};
  }

h1.title
{
    text-align: center;
    margin-top: -1.2%;
}

h1.title {  /* Taken from internet */
    font-weight: 900;
    font-size: 3.5em;
  }
  
h1.title .letter {
    display: inline-block;
    line-height: 1em;
  }


h2.subtitle
  {
      text-align: center;
      font-size: small;
      margin-top: -3%;
      margin-left: 18%;
  }
h2.subtitle {  /* Taken from internet */
    font-weight: 400;
    font-size: .9em;
  }
  
h2.subtitle .letter {
    display: inline-block;
    line-height: .9em;
  }



nav
{
    background-color: rgb(0, 0, 0);
    text-shadow: black;
    box-shadow: black;
    color: white;
    position: relative;
    text-align: center;
    font-family: bungee, sans-serif;
    font-weight: 100;
   
	transition:0.3s all ease;
	margin-top:10px;
    margin-bottom:10px;
    font-size: medium;
    position: sticky;
}
nav:hover
{
    color: rgb(189, 15, 15);
    background-color: darkturquoise;
    font-size: x-large;
}
nav a:link{
  text-decoration:none;
}
nav a:hover
{
  transition: 0.3s ease-out;
  color: white;
  text-decoration: line-through;
  text-decoration-color: rgb(117, 1, 1);
  text-decoration-thickness:10px;
}
h3#photography
{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-variant: small-caps;
  letter-spacing: 2px;
}
.photography
{
  background-color: none;
  width: 350px;
}
.photography:hover{
  background-color: rgb(32, 32, 32);
  transform-style: flat;
  transition: 0.5s ease all;
  transition-property: all;
  cursor: grab;
}
img#MRALogo                       /* image positioning */
{
  height: 300px;
  width: 350px;
}

/* Programming section */
.programming
{
  background-color: none;
  margin-left: 15%;
}
.programming:hover
{
  background-color: rgb(32, 32, 32);
  transform-style: flat;
  transition: 0.5s ease all;
  transition-property: all;
  cursor: grab;
}
h3#programming
{
  text-align: center;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  color: white;
}
img#progLogo
{
  height: 300px;
  width: 350px;
}

.test /* The Whole Division Style */
{
  display: flex;
}


/* Public Server Section */
.publicServer
{
  background-color: none;
  margin-left: 15%;
}
.publicServer:hover
{
  background-color: rgb(32, 32, 32);
  transform-style: flat;
  transition: 0.5s ease all;
  transition-property: all;
  cursor: grab;
}
h3#publicServer
{
  text-align: center;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  color: white;
}
img#publicServer
{
  height: 300px;
  width: 350px;
}
