*{margin:0; padding:0}
.header
{
    background-color: cornsilk;
    font: bold;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: black;
    background-image: none;
    position: relative;
	transition:0.3s all ease;
	
}
.header:hover
{
    color: blue;
    background-image: none;
    position: relative;
}
.navigation
{
    background-color: darkturquoise;
    text-shadow: black;
    box-shadow: black;
    color: white;
    position: relative;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
	transition:0.3s all ease;
	margin-top:10px;
	margin-bottom:10px;
}
.navigation:hover
{
    color: rgb(189, 15, 15);
    background-color: black;
    font-size: xx-large;
}
.navigation a{
	text-decoration:none;
}

.welcome-image
{
    background-color: blue;
    background-position: center;
    position: relative;
	margin-bottom:10px;
}
.welcome-image:hover
{
    background-color: darkcyan;
}
.image
{
    width: fit-content;
    height: fit-content;
}
.footer{
	background:blue;
	text-align:center;
	color:white;
	margin-top:5px;
}

















