* {
  margin: 0;
  padding: 0;
}
body {
  background: none;
  z-index: 1;
  /*     background-image: url("Pictures/background.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed; */
}

#share_item {
  list-style-type: none;
  padding: 7px 3px 7px 10px;
  position: fixed;
  background: none;
  border-radius: 25px 0 0 25px;
  top: 25%;
  right: 0;
  z-index: 5;
}
#share_item img {
  width: 32px;
  height: 32px;
}
#share_item li {
  display: block;
}
#share_item img:hover {
  width: +80%;
}

@media (max-width: 1080px) {
  div#share_item {
    display: none;
  }
}

.header {
  background-color: none;
  font-weight: 400;
  font-size: 6vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  background-image: none;
  position: relative;
  transition: 0.3s all ease;
  margin-top: -20px;
}
.header:hover {
  color: #1a0066;
  background-image: none;
  position: relative;
  /* background-color: black; */
}
.navigation {
  background-color: darkturquoise;
  text-shadow: black;
  box-shadow: black;
  color: white;
  position: relative;
  text-align: center;
  font-family: bungee, sans-serif;
  font-weight: 100;

  transition: 0.3s all ease;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2vh;
}
.navigation:hover {
  color: rgb(189, 15, 15);
  background-color: black;
  font-size: x-large;
}
.navigation a {
  text-decoration: none;
}
@media screen and (max-width: 1079px) {
  div.navigation {
    font-size: 4vh;
  }
}
nav a:hover {
  transition: 0.3s ease-out;
  color: white;
  text-decoration: line-through;
  text-decoration-color: rgb(117, 1, 1);
  text-decoration-thickness: 10px;
}
.welcome-image {
  background-color: blue;
  background-position: center;
  position: relative;
  width: 100%;
  height: auto;
  transition: 0.4s ease-in-out;
  filter: grayscale(100%);
}
@media screen and (max-width: 1079px) {
  div.image {
    height: 60%;
  }
}

.introduction {
  margin-top: 20px;
  font-family: "Abel", sans-serif;
  font-size: 2vw;
}

/* Variable font size */
@media screen and (min-width: 1080px) {
  div.introduction {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1079px) {
  div.introduction {
    font-size: 7vw;
  }
}

.image {
  width: 100%;
  height: auto;
}

#explorebtn {
  font-size: 3vh;
}
@media screen and (max-width: 1079px) {
  #explorebtn {
    font-size: 5vw;
  }
}
.btn    /* This is also explore button */ {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  /* The footer design */
  background-color: #2d2d2e;
  color: #ffffcc;
  text-align: center;
  padding: 5px;
  font-style: italic;
  margin: 0px auto;
}
